<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>turing</title>
</head>
<body>
    <h1>turing</h1>
    <ul>
        <li><a href="index.html">HOME</a></li>
        <li><a href="babbage.html">Babbage</a></li>
        <li><a href="berners-lee.html">Berners-lee</a></li>
        <li><a href="clarke.html">Clarke</a></li>
        <li><a href="hamilton.html">Hamilton</a></li>
        <li><a href="hopper.html">Hopper</a></li>
        <li><a href="lovelace.html">Lovelace</a></li>
        <li><a href="turing.html">Turing</a></li>
    </ul>
    <img src="../img/Turing.jpg" alt="turing">
</body>
</html>